/* цвет остовного текста color: #757575; */
/* вторичныу цвет текста color: #212121; */
/* color: #FFFFFF; */
/* акцент  color: #2196F3;*/
/* hover change #188CE8; */
/* background: #E5E5E5; */
/* second background lite: #F5F4FA; 
logo color dark color: #000000;
section background dark: #2F303A;
*/
:root{
    --primary-font-family:'Roboto', sans-serif;
    --secondary-font-family:'Raleway', sans-serif;
    --primary-font-weight: 400;
    --secondary-font-weight: 700;
    --accent-color: #2196F3;
    --btn-other-color: #188CE8;
    --main-p-color: #757575;
    --main-h-color:#212121;
    --main-white-color:#FFFFFF;
    --logo-dark-color:#000000;
    --main-bg-lite-color:#F5F4FA;
    --main-bg-dark-color:#2F303A;
    --box-shadow-filter:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --footer-link-col:rgba(255, 255, 255, 0.6);
    --hero-btn-box-shadow:rgba(0, 0, 0, 0.15);
    --primary-letter-spacing: 0.03em;
    --secondary-letter-spacing: 0.06em;
    --header-border-color: #ECECEC;

}

h1,
h2,
h3,
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
ul,
ol{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
body{
    font-family:var(--primary-font-family);
    background-color: var(--main-white-color);
    color: var(--main-p-color);
}
.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
    } 
    .section{
        padding: 94px 0;
    }
    .container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
/* ========================== HEADER================================ */

.page-header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--header-border-color);
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-header-container{
    display: flex;
    align-items: center;
    /* -- Можно justify-content: space-between; если 2 флекс элемента, и убрать margin-left: auto; в header-contacts ---*/
    
    
}
.navigation{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
}
.header-contacts{
    display: flex;
    margin-left: auto;
}
.logo {
    font-family: var(--secondary-font-family);
    font-weight: var(--secondary-font-weight);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--accent-color);
    margin-right: 93px;
}
.logo-dark {
    color: var(--logo-dark-color);
}
.nav-item:not(:last-child){
    margin-right: 50px;
}
.header-link-mail{
    margin-right: 50px;
}

.nav-link, 
.header-link-phone,
.header-link-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-h-color);
}
.header-link-phone,
.header-link-mail{
    color: var(--main-p-color);
}
.nav-link:hover, 
.header-link-phone:hover, 
.header-link-mail:hover,
.nav-link:focus,
.header-link-phone:focus,
.header-link-mail:focus{
    color: var(--accent-color);
}

.link-active {
    color: var(--accent-color);
}

/* =================== /HEADER ================================= */

/* ======================== Section MAIN ========================= */
/* ============= HERO ================ */
.hero {
    background: var(--main-bg-dark-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin: 0 auto;
    max-width: 1600px;
}

.main-title {
    width: 696px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: var(--secondary-letter-spacing);
    text-transform: uppercase;
    color: var(--main-white-color);
}
.button{
    min-width: 200px;
    font-family: inherit;
    font-weight: var(--secondary-font-weight);
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: var(--secondary-letter-spacing);
    box-shadow: var(--hero-btn-box-shadow);
    color: var(--main-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;
}
.button:hover {
    background-color: var(--btn-other-color);
    color: var(--main-white-color);
}


/* =========================== FEATURES ============================== */
.feature-title{
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--primary-letter-spacing);
    text-transform: uppercase;
    color: var(--main-h-color);
}
.feature-text,
.footer-link,
.footer-link-location{
    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--primary-letter-spacing);
    margin-top: 0px;
}

.feature-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.feature-item{
    margin: 15px;
    flex-basis: calc((100% - 120px) / 4);
}

/* ==== Второй способ добавления элементов ======
 Получается что калькулятор не правильно работает 
 с построением через  nth-child ????????? 
 если поменяем width: 270px; на flex-basis: calc((100%-90px) / 4);*/

/* .feature-list{
    display: flex;
    flex-wrap: wrap;
}
.feature-item{
    width: 270px;
}
.feature-item:not(:nth-child(4n)){
    margin-right: 30px;
}
.feature-item:not(:nth-last-child(-n+4)){
    margin-bottom: 30px;
} */

/* ==== Третий gap способ добавления элементов ====== */
/* == НЕ РАБОТАЕТ ТОЖЕ !! если calc((100%-90px) / 4) */

/* .feature-list{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.feature-item{
    flex-basis: calc((100%-120px) / 4);
} */

/* =========================== /FEATURES ============================== */

/* ======================== WORK ======================================== */
.work-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
/*
 .work-item:not(:nth-child(3n)){
    margin-right: 30px;
}
.work-item:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}
} */

.work-item{
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
}



.section-title{
        font-weight: var(--secondary-font-weight);
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--main-h-color);
        margin-bottom: 50px;
}
.section-work{
    padding-top: 0;
}
/* ======================== /WORK ======================================== */

/* ======================== TEAM ========================================== */
.section-team{
    background: var(--main-bg-lite-color);
}
/* .team-list{
    display: flex;
    flex-wrap: wrap;
}

.team-item:not(:nth-child(4n)){
    margin-right: 30px;
}
.team-item:not(:nth-last-child(-n+4)){
    margin-bottom: 30px;
} */


/* Можно так  в team-list кроме flex и wrap добавить */
.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px
}
.team-item{
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
    background: var(--main-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--main-h-color);
}
.team-text{
    font-weight: var(--primary-font-weight);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: var(--primary-letter-spacing);
    /* color: var(--main-p-color); */
}

/* ======================== /TEAM ========================================== */
/* ===================== /MAIN ====================================== */

/* ============================= FOOTER ========================= */
.page-footer {
    background: var(--main-bg-dark-color);
    padding-top: 45px;
    padding-bottom: 75px;

}
.logo-footer{
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
}
.footer-item{
    font-style: normal;
}
.footer-item:not(:last-child){
    margin-bottom: 10px;
}
.footer-link{
    color: var(--footer-link-col)
}
.logo-light, 
.footer-link-location{
    color: var(--main-white-color)
}

.footer-link:hover,
.footer-link:focus{
    color: var(--accent-color);
}
/* ============================= /FOOTER ========================= */

/* ============================= PORTFOLIO html ====================== */
/* ====  filter ==== */

.filter-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
}
.filter-item:not(:last-child){
    margin-right: 8px;
    
}
.filter-btn {
    min-width: 73px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--main-h-color);
    border: none;
    background: var(--main-bg-lite-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-filter);
    border-radius: 4px;
    color: var(--main-white-color);
}
/* ===== /filter ====-=== */
/* ====== Content =======*/
.content-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.content-item{
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
}
.content-item-wpapper{
    border: 1px solid var(--header-border-color);
    border-top: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-title{
    font-weight: var(--secondary-font-weight);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-h-color);

    margin-left: 24px;
    margin-bottom: 4px;
}
.content-text{
    font-weight: var(--primary-font-weight);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--main-p-color);

    margin-left: 24px;
}
/* ====== /Content =======*/
/* ============================= /PORTFOLIO html ====================== */
